@{
    ViewData["Title"] = "Budgets";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<head>

</head>

<p>Use this area to provide additional information.</p>
Name: <input type="text" id="budgetName" /><br /><br />
Amount: <input type="text" id="budgetAmount" /><br /><br />
Order: <input type="text" id="budgetOrder" /><br /><br />
Necessary: <input type="checkbox" id="budgetNecessary" value="true" name="necessary" /><br /><br />
Budget Type:
<select id="budgetType">
    <option>Monthly</option>
    <option>One Time</option>
    <option>Annual</option>
</select><br /><br />
Budget Month
<select id="budgetMonth">
    <option>January</option>
    <option>Febuary</option>
    <option>March</option>
    <option>April</option>
    <option>May</option>
    <option>June</option>
    <option>July</option>
    <option>August</option>
    <option>September</option>
    <option>October</option>
    <option>November</option>
    <option>December</option>
</select>

<br /><br />
<input type="button" id="addBudget" value="Add Budget" />
