@model Treasury.Models.BudgetModel

@{
    ViewData["Title"] = "Budgets";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<head>

</head>

<p>Use this area to provide additional information.</p>
Name: <input type="text" id="budgetName" /><br /><br />
Description:  <input type="text" id="budgetDescription" /><br /><br />
<input type="button" id="addBudget" value="Add Budget" />
