@{
    ViewData["Title"] = "Transactions";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<head>

</head>

<p>Use this area to provide additional information.</p>
Amount: <input type="text" id="transactionAmount" /><br /><br />
Description: <input type="text" id="transactionDescription" /><br /><br />
<input type="button" id="addTransaction" value="Add Transaction" />
