@{
    ViewData["Title"] = "Vendors";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<head>

</head>

<p>Use this area to provide additional information.</p>
Name: <input type="text" id="vendorName" /><br /><br />
<input type="button" id="addVendor" value="Add Vendor" />
